header {
    background-image: url(https://assets-cdn.github.com/images/modules/logos_page/Octocat.png);
    padding: 1em;
}

.column-1 {
    background-color: gray;
    float: left;
    padding: 1em;
    width: 40%;
    font-family: Verdana;
    margin: 1.5em;
    line-height: 1em;
}

.column-2 {
    background-color: teal;
    float: right;
    padding: 1em;
    width: 40%;
    font-family: cursive;
    margin: 1.5em;
    line-height: 1.3em;
}

footer {
    background-color: blue;
    bottom: 0em;
    clear: both;
    width: 100%;
    padding: 1em;
}